<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Alo, alo: SmartNinja!</h1>
    <form method="POST" action="/rezultat">
        <label for="vpis-sporocila">Vpišite Vaše sporočilo:</label>
        <input name="sporocilo" id="vpis-sporocila">
        <br>
        <label for="input-ime">Vpiši svoje ime</label>
        <input name="ime" id="input-ime">
        <br>
        <label for="input-stevilka">Vpiši številko</label>
        <input name="stevilka" id="input-stevilka" type="number">

        <button type="submit">Oddaj sporocilo</button>

    </form>
</body>
</html>